
* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 50px;

}
  
#container {   
   border: 1px solid #0000ff;
   border-radius: 10px;
   width: 500px;
   height: 400px;

}

#form {
   margin: 30px;
   padding: auto;
}

.contato {
   color: #4caf86;
   text-decoration: none;
}

.contato:hover {
   color: #0000ff ;
}

input { 
   padding: 10px 15px;
   border: 1px solid blue; 
   border-radius: 5px;  
}

#acesso {
   display: flex;
   justify-items: center;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
}

label {
  margin-right: 130px;
}

#header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   padding: 0 1rem;
   max-width: 700px;
   margin: 5px 50px;
}



#btnSubmit {
   padding: 0 20px;
   background-color: #4caf86;
   color: rgb(14, 13, 13);
   font-weight: bold;
   width: 100px;
   height: 40px;
   font-size: 25px;  
   text-decoration: none;
   border: none; 
   border-radius: 10px; 
   cursor: pointer;
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 30px;
   opacity: 0.9;
   transition: 0.4s;
}

#btnSubmit:hover {
  background-color: #0000ff;
}

p {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   padding: 0 1rem;
}

a {
   color: #4caf86;
   text-decoration: none;
   opacity: 0.9;
   transition: 0.4s;
}

a:hover {
   color: #0000ff;
} 










/*
#container h3 {
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   text-align: center;
   margin-top: 15px;
}

.cadastro p,
.formulario p {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}

.cadastro {
   border: 1px solid black;
   border-radius: 5px;
   width: 400px;
   display: block;
   justify-content: center;
   align-items: center;
   margin: 5px auto;

}

.formulario {
   border: 1px solid black;
   border-radius: 5px;
   width: 400px;
   display: block;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

#btnSubmit {
    padding: 10px 20px;
    background-color: #4caf86;
    color: rgb(14, 13, 13);
    font-weight: bold;
    width: 150px;
    height: 30px;
    font-size: 1.3rem; 
    text-decoration: none;
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    opacity: 0.9;
    transition: 0.4s;
}

#btnSubmit:hover {
  background-color: #4cafa7 ;
}
*/