<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../static/css/contato.css">
</head>
<body>

    <div>
        <h3>Formulário</h3>

        <form method="post">

            {{form.csrf_token}}
            <div id="nome">
              {{form.nome.label}}
              {{form.nome}}
            </div>
            <br>
            <div id="email">
              {{form.email.label}}
              {{form.email}}
            </div>
            <br>
            <div id="assunto">
              {{form.assunto.label}}
              {{form.assunto}}
            </div>
            <br>
            <div id="mensagem">
              {{form.mensagem.label}}
              {{form.mensagem}}
            </div>
            <br>
            <div id="btnSubmit">
              {{form.btnSubmit}}
            </div>               
        </form>
    </div>

</body>
</html>